body{
    text-align: right;
    font-family:"Arial" ;
}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid   ;
}
#cabecera 
{
    background-color: cadetblue;
    columns: white;
    box-shadow: 0px 5px 30px 0px gray;
    margin: 0;
    padding: 0.6em;
    font-weight: bold;
    color: honeydew;
}
#cabecera #tagline
{
    font-weight: bold;
    padding: 0 0 0 1em;
    font-size: 0.8em;
}