body{
    text-align: right;
    font-family:"Arial" ;
}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid   ;
}
#cabecera 
{
    background-color: rgb(64, 41, 77);
    columns: white;
    box-shadow: 0px 5px 30px 0px rgb(0, 0, 0);
    margin: 0;
    padding: 0.6em;
    font-weight: bold;
    color: rgb(255, 203, 203);
}
#cabecera #tagline
{
    font-weight: bold;
    padding: 0 0 0 1em;
    font-size: 0.8em;
}